# Ignore build files
build/

# Ignore templ-generated go files
*_templ.go

# Ignore components directory as its a build generated package for templ
src/webserver/components/

# Ignore vscode config
.vscode/

# Ignore log files
*.log

# Ignore local tailwindcss installation
tools/*

#Ignore environment files
*.env