package core

//HTML Nodes that serve as the Biographical summary
templ Biosnippet(description string) {
    <div class="text-center self-center">
        <h1 class="text-4xl pt-10 pb-10">Hello!</h1>

        <p class="pb-10">
            { description }
        </p>
    </div>
}