package core

//All Carousel logic is handled in carousel.js in ./js/carousel.js
//ImageInfo will get flagged incorrectly by LSP because definition is in templ build directories.
templ Carousel() {
    <div id="carousel"></div>
}