package core

// A component that contains a list of entries of other components, designed specifically around components prefixed with summarysnippet_
templ Summaryverticalcontainer(comps []templ.Component) {
   <div>
        for _, comp := range comps {
            <div class="shadow-2xl bg-white hover:bg-blue-400 hover:text-white m-1 p-2 rounded-md">
                @comp
            </div>
        }
   </div> 
}