package core

templ Summarysnippet_education(Title string, Major string, Date string) {
    <div class="flex justify-between">
        <h2 class="text-left">{ Title }</h2>
        <h3 class="text-right">{ Date }</h3>
    </div>
    <h2 class="text-left">{ Major }</h2>
}