package content

// Component to represent the body of the career page. Made to be used in conjunction with the base component.
templ Career(title string, companyname string, description string, date string) {
    <div class="pt-20 pb-20 text-center">
        <h1 class="text-4xl"> { title } </h1>
        <h2 class="text-2xl"> { companyname } </h2>
        <p> { date } </p>
        <p> { description } </p>
    </div>
}